* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 30px;
  font-family: "Kaushan Script", cursive;
}

.container {
  width: 100%;
  max-width: 70%;
  /* border: 1px solid crimson; */
}

.header {
  background-color: rgb(197, 145, 90);
}

.h1_header {
  color: rgb(160, 247, 136);
  text-align: center;
}
