@import url("https://uk.allfont.net/allfont.css?fonts=droid-serif");
@font-face {
  font-family: "Wisdom";
  src: url("../fonts/Wisdom\ Script.otf");
  font-style: normal;
  font-weight: normal;
}
/* =============================================== */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: auto;
}

.container {
  width: auto;
  max-width: 940px;
  /* border: 1px solid crimson; */
}

/* =====================header===================== */
header {
  padding-top: 20px;
  height: 65px;
  /* border: 1px solid cornflowerblue; */
}

.navigation {
  display: flex;
}

.logo-box {
  margin-left: 7px;
}

.logo {
  font-size: 26px;
  font-family: "Wisdom";
  color: #ffcc00;
  text-decoration: none;
  line-height: 2.7;
}

.menu {
  display: flex;
  text-transform: uppercase;
  list-style: none;
  margin-right: 0;
}

.menu-item {
}

.menu-item_link {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 5.3;
  transition: 0.3s linear all;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-item_link:hover {
  color: #ffcc00;
}

/* =====================main===================== */
.main {
  margin-top: 110px;
}

.main-section1 {
  padding-top: 7px;
}

.services_____signature {
  display: block;
  margin-bottom: 12px;
}

.services {
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: rgb(34, 34, 34);
  text-transform: uppercase;
  text-align: center;
}

.signature_services {
  font-size: 16px;
  font-family: "Averia Serif Libre", cursive;
  color: rgb(119, 119, 119);
  text-align: center;
  margin-top: 5px;
}

.services_items {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 33.33%;
}

.services_item {
  width: 33.33%;
  max-width: 308px;
  min-width: 280px;
  padding-top: 65px;
  padding-right: 18px;
  padding-left: 18px;
  margin-bottom: 120px;
  /* border: 1px solid red; */
}

.service-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 74px;
  height: 74px;
  border-width: 3px;
  border-radius: 50%;
  border-style: solid;
  border-color: rgb(254, 209, 54);
  background-color: rgb(255, 255, 255);
}

.service-item_title {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: rgb(34, 34, 34);
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.services___description {
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  color: rgb(119, 119, 119);
  text-align: center;
}

/* =====================footer===================== */
.footer {
  background-image: url(../img/footer/Map\ Image.png);
  background-position: right bottom;
  min-height: 677px;
  background-color: rgb(34, 34, 34);
  background-repeat: no-repeat;
  /* border: 1px solid crimson; */
}

.contact_us {
  width: 290px;
  height: 120px;
  padding-top: 100px;
  margin-bottom: 132px;
  /* border: 1px solid crimson; */
}

.title-contact_us {
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.discription_of_contact_us {
  font-size: 14px;
  font-style: italic;
  font-family: "Droid Serif", sans-serif;
  color: rgb(119, 119, 119);
  text-align: center;
  font-weight: normal;
  margin-top: 13px;
}

.form_div {
  display: flex;
  justify-content: space-between;
  width: 940px;
  /* margin-top: 72px; */
  /* border: 1px solid crimson; */
}

.form {
}

._3_inputs_and_textarea {
  display: flex;
}

._3_inputs {
  flex-direction: column;
}

.input {
  font-size: 14px;
  font-family: " Montserrat", sans-serif;
  color: rgb(187, 187, 187);
  font-weight: bold;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  width: 455px;
  height: 50px;
  padding-top: 3px;
  padding-left: 20px;
}

.form ::placeholder {
  color: rgb(187, 187, 187);
  text-transform: uppercase;
}

.input_1:not(:last-child) {
  margin-bottom: 30px;
}

.textarea {
}

.responsive {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: rgb(187, 187, 187);
  font-weight: bold;
  /* text-transform: uppercase; */
  text-align: left;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  width: 455px;
  height: 210px;
  padding-top: 16px;
  padding-left: 20px;
}

.btn-send {
  margin-top: 24px;
  margin-right: 0;
  text-align: center;
}

.btn_send_message {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(254, 209, 54);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  width: 240px;
  height: 66px;
}
