* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: 14px;
  color: #626262;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid crimson;
}

.container-lifestyle {
  margin-bottom: -130px;
  overflow: hidden;
}

.header {
  padding-top: 72px;
  padding-bottom: 98px;
  border: 1px solid crimson;
}

.menu {
  font-size: 0;
  text-align: center;
}

.menu_item {
  display: inline-block;
}

.menu_item:not(:last-child) {
  margin-right: 100px;
}

.menu_item-link {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  color: rgb(98, 98, 98);
}

.menu_item-link:hover {
  color: #03a9f4;
}
